.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    padding: 10px;
  }
.grid-item {
  text-align: center;
}

.article-item{
  border:1px solid blue;
}