.article-content{
    margin: auto;
    width: 80%;
    text-align: center;
}

.article-title{
        font-size: 6rem;
        font-weight: 600;
}

.article-content{
    font-weight: 400;
    font-size: 30px;
    line-height: 1.35;
}

.edit-article-btn{
    float: right;
}

.delete-article-btn{
    float: right;
}