.navbar{
    margin: auto;
    width: 95%;

    padding: 15px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 3rem;
    color: #2b2c34;
    border-radius: 10px;
    font-weight: 600;
}
.logo{
    display: inline;
    float: left;
}
.navbar-links{
    display:  inline;   
}

.navbar-links a{
    color: #2b2c34;
    padding: 10px;
}

.navbar-search{
    color: #2b2c34;
    display: inline;  
    float: right;
}