*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: #fffffe;

  color: #2b2c34;
  font-family: proxima-nova, sans-serif;
}
a{
  text-decoration: none;
  color: #2b2c34;
  font-family: proxima-nova, sans-serif;
}





