/* Wrapper for whole page */
.main-content{
  width: 90%;
  padding: 10px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  overflow: auto;
}

/* For First article */
.showcase{
    height: 25rem;
     border: 1px solid #6246ea;
     display: flex;
     justify-content: space-between;
     margin-bottom: 5%;
}

/* Title of first article */
.title{
  font-size: 5rem;
  font-weight: 600;
  float: right;
}

/* For first article image */
.showcase-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* For grid article image */
.article-img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-text{
  padding: 5px ;
}


/* Grid properties */
.grid-container {
  display: grid;
  padding: 0 !important;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 1rem;
 
}
.grid-item {
  border:1px solid blue;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.grid-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

